@font-face {
    font-family: 'Futura PT Light';
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    }
@font-face {
    font-family: 'Futura PT Normal';
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    }
@font-face {
    font-family: 'Futura PT Bold';
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    }