htmhtml{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
svg{
    fill: #fff;
}
body{
    color: #fff;
    font-family: 'Futura PT Normal';
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    background-color: #222222;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.social{
    display: inline-block;
   li{
       display: inline-block;
       margin-right: 10px;
   }
   &__link{
    width: 22px;
    height: 22px;
    display: inline-block;
    transition: all ease-out 0.3s;
    &:hover{
        transition: all ease-out 0.3s;
        transform: scale(1.2);
    }
    svg{
        fill: #fff;
    }
   }
}
.page-section{
    min-height: 100vh;
    background-color: #222222;
    position: relative;
    .page-section__top{
        
        background-color: #131313;
    }
    .info__top-title{
        font-size: 24px;
        line-height: 31px;
        display: flex;
        align-items: center;
        height: 93px;
        font-family: 'Futura PT Bold';
        letter-spacing: 6px;
        font-weight: 700;
        text-transform: uppercase;
        span{
            letter-spacing: 4px;
            font-family: 'Futura PT Normal';
            font-weight: 400;
            text-transform: initial;
            margin-right: 10px;
        }
    }
}
.menu{
    position: absolute;
    color: #C9C9C9;
    font-family: 'Futura PT Light';
    top: 50%;
    transform: translateY(-50%);
    width: 140px;
    right: 137px;
    transition: all 1s;
    .menu__list-item{
        transition: all 0.3s;
        position: relative;
        font-size: 24px;
        line-height: 31px;
        &::before{
            content: '';
            position: absolute;
            width: 0px;
            height: 2px;
            background-color: #fff;
            left: -63px;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.3s;
        }
        &:not(:last-child){
            margin-bottom: 8px;
        }
        &.active{
            transition: all 0.3s;
            color: #fff;
            font-family: 'Futura PT Bold';
            font-weight: 700;
            &::before{
                content: '';
                position: absolute;
                width: 44px;
                height: 2px;
                background-color: #fff;
                left: -63px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s;
            }
        }
    
        
    }
}
.fp-tableCell{
    display: block;
}
.fp-viewing-news,
.fp-viewing-footer{
    .menu{
        right: 50px;
        transition: all 1s;
    }
}


