@import "fonts";
@import "global";

.header{
    position: absolute;
    top: 71px;
    left: 0;
    right: 0;
    z-index: 10;
    &::before{
        content: '';
        position: absolute;
    }
    &__inner{
        display: flex;

    }
    &__language{
        margin-left: auto;
    }
    &__language-item{
        display: inline-block;
        font-size: 24px;
        line-height: 31px;
        a{
            transition: all ease-out 0.3s;
            &:hover{
                transform: scale(1.2);
                transition: all ease-out 0.3s;
            }
        }
    }
}

// start top

.top{
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;    
        position: absolute;
        background: #000;
        opacity: 0.7;
    }
    &__wrapper{
        min-height: 100vh;
        position: relative;
        z-index: 1;
        display: flex;
       align-items: center;
       justify-content: center;
    }
    &__inner{
       text-align: center;
    }
    &__logo{
        margin-bottom: 80px;
        img{
            // width: 110%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &__title{
        font-size: 48px;
        line-height: 62px;
        font-family: 'Futura PT Bold';
        font-weight: 700;
        max-width: 660px;
    }
    &__btn{
        background-image: url('../images/icons/arrow-bottom.svg');
        width: 62px;
        height: 31px;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 63px;
        left: 50%;
        transform: translateX(-50%);
    }
}

// end top 


// start info
.info{
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        // min-height: calc(100vh - 100px);
        min-height: 100vh;
    }
    &__logo{
    }
    &__descr{
        max-width: 800px;
        font-size: 40px;
        line-height: 48px;
        span{
            font-family: 'Futura PT Bold';
            font-weight: 700;
        }
    }
}
// end info


// start portfolio 
.portfolio{
    &__wrapper{
        text-align: center;
        min-height: calc(100vh - 100px);
    }
    &__inner{
        // display: grid;
        // grid-template-rows: 1fr 1fr;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
       display: flex;
       justify-content: start;
       flex-wrap: wrap;
       margin-bottom: 25px;
    }
    &__item{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 364px;
        height: 367px;
        flex-basis: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #000;
            opacity: 0.4;
            transition: all ease-in-out 0.3s;
        }
        &:hover{
            // position: absolute;
            .portfolio__item-name{
                transform: translateY(0%);
                // opacity: 1;
                transition: all ease-in-out 0.3s;
                
            }
            &::after{
                opacity: 0.9;
                transition: all ease-in-out 0.3s;
            }
        }
    }
    &__item-name{  
        position: relative;
        z-index: 2;
        opacity: 1;
        // transform: translateY(3000%);
        &--top{
            transform: translateY(-500%);
            transition: all ease-in-out 0.3s;
        }
        &--bottom{
            transform: translateY(500%);
            transition: all ease-in-out 0.3s;
        }
        span{
            display: block;
            font-family: 'Futura PT Bold';
            font-weight: 700;
        }
    }
    &__btn{
        margin-top: auto;
        padding-bottom: 48px;
        padding: 17px 77px;
        background-color: #131313;
        font-family: 'Futura PT Bold';
        font-weight: 700;
    }
}
// end portfolio 



// start services 
.services{
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: calc(100vh - 100px);
    
    }
    &__accordion{
        max-width: 847px;
        width: 100%;
    }
    &__item{
        overflow: hidden;
        &:not(:last-child){
            margin-bottom: 50px;
        }
        &.services__item--active{
            .services__item-list{
                display: block;
                // transform: translateY(0%);
                transition: all .3s;
            }
            .services__item-title{
                &::before{
                    transform:   rotate(90deg) ;
                    transition: all .3s;
                    top: 30%;
                }
            }
        }
    }
    
    &__item-title{
        font-family: 'Futura PT Bold';
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        border: 3px solid #131313;
        padding: 20px 20px 20px 98px;
        max-width: 847px;
        position: relative;
        cursor: pointer;
        &::before{
            content: '';
            position: absolute; 
            background-image: url('../images/icons/triangle.png');
            background-size: cover;
            width: 22px;
            height: 29px;
            top: 50%;
            transform: translateY(-50%);
            left: 35px;
            transition: all .3s;
        }
    }
    &__item-list{
        background-color: #131313;
        padding: 23px 81px 31px 71px;
        margin-left: 110px;
        display: none;
        transition: all .3s;
        // transform: translateY(-300%);

    }
    &__line{
        border-bottom: 3px solid #202020;
        display: flex;
        &:not(:last-child){
            margin-bottom: 36px;
        }
    }
    &__name{
    }
    &__price{
        margin-left: auto;
    }
}
// end services 

// start contacts
.contacts{
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: calc(100vh - 100px);
        max-width: 848px;
    }
    &__map{
        margin-bottom: 58px;
        img{
            width: 100%;
            height: 355px;
        }
    }
    &__box{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__info{
        max-width: 390px;
    }
    &__info-item{
        width: 100%;
        background-color: #131313;
        margin-bottom: 31px;
        height: 52px;
       
    }
    &__info-text{
        position: relative;
        padding: 10px 20px 10px 80px;
        display: block;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &--marker{
            &::before{
                background-image: url('../images/icons/marker.png');
                width: 21px;
                height: 30px;
                left: 30px;
            }
        }
        &--phone{
            &::before{
                background-image: url('../images/icons/phone.png');
                width: 30px;
                height: 30px;
                left: 25px;
            }
        }
        &--email{
            &::before{
                background-image: url('../images/icons/email.png');
                width: 38px;
                height: 30px;
                left: 22px;
            }
        }
    }
    &__form{
        max-width: 390px;
        form{
            width: 100%;
            input{
                width: 100%;
                margin-bottom: 31px;
                height: 52px;
                background-color: #fff;
                padding-left: 11px;
                padding-right: 11px;
                &::placeholder{
                    color: #202020;
                }
            }
            button{
                text-align: center;
                width: 100%;
                height: 52px;
                background-color: #55B055;
                color: #FFFFFF;
                font-family: 'Futura PT Bold';
                font-weight: 700;
            }
        }
    }
}
// end contacts



// start news
.news{
    &__inner{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: calc(100vh - 100px);
    }
    &__slider{
        width: 100%;

    }
    &__slider-item{
        max-width:284px;
        text-align: center;
        margin: 0 auto;
        display: block !important;
    }
    &__slider-img{
        width: 284px;
        height: 215px;
        margin-bottom: 25px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.41;
    }
    &__slider-title{
        font-family: 'Futura PT Bold';
        font-weight: 700;
        margin-bottom: 10px;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__slider-descr{
        margin-bottom: 25px;
    }
    &__slider-btn{
        width: 100%;
        display: block;
        background-color: #131313;
        font-family: 'Futura PT Bold';
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 11px;
    }
    & + #menu{
        right: 0;
    }
}
.slider__btn{
    position: absolute;
    background-color: transparent;
    top: 200px;
    border: none;
    outline: none;
    cursor: pointer;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/triangle.png');
        background-position: center center;
        background-size: cover;
        width: 22px;
        height: 29px;
    }
    &.slider__btn-left {
        transform:  rotate(180deg);
        left: -30px;
    }
    &.slider__btn-right {
        top: 171px;
        right: -30px;
    }
}



// end news

// footer start 
.footer{
    background-color: #131313;
    min-height: 303px;
    font-family: 'Futura PT Light';
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    &__inner{
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        margin-bottom: 55px;
    }
    &__logo{
        width: 157px;
        display: inline-block;
        img{
            height: 91px;

        }
    }
    &__links{
       
        li{

            margin-bottom: 16px;
        }
    }
    &__contacts{
        li{
            margin-bottom: 16px;
           
        }
        a{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 0%;
                height: 1px;
                background-color: #fff;
                left: 0;
                bottom: 0;
                transition: width ease-out 0.3s;
            }
            &:hover{
                &::after{

                    width: 100%;
                    display: block;
                }
            }
        }
    }
    &__copy{
        text-align: center;
        margin-bottom: 60px;
    }
}

// end start 

// start project-page
.project-page{
    .top{
        &::before{
            opacity: 0.7;
        }
    }
    .top__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50% );
        img{
            width: 132px;
            height: 77px;
        }
    }
    .top__title{
        margin-bottom: 20px;
    }
    .top__subtitle{
        font-size: 24px;
        line-height: 31px;
    }
}
.project-descr{
    background-color: #202020;
    overflow-y: scroll;
    &__inner{
        padding-top: 150px;
    }
    &__box{
        display: flex;
        margin-bottom: 100px;
    }
    &__img{
        
        max-width: 555px;
        & + .project-descr__text{
            margin-left: 30px;
        }
        img{
            width: 100%;
        }
    }
    &__text{
        max-width: 555px;
        & + .project-descr__img{
             margin-left: 30px;
        }
        p{

            margin-top: 0;
        }
    }
    &__slider{
        margin-bottom: 145px;
    }
    &__slider-item{
        max-width: 1140px;
        height: 564px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .slider__btn{
        position: absolute;
        background-color: #000;
        opacity: 0.7;
        top: 250px;
        width: 68px;
        height: 64px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover{
            opacity: 1;
            transition: all ease-in-out 0.3s;
        }
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/triangle.png');
            background-position: center center;
            background-size: cover;
            width: 22px;
            height: 29px;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
        &.slider__btn-left {
            transform:  rotate(180deg);
            left: 0px;
            z-index: 1;
        }
        &.slider__btn-right {
            right: 0px;
        }
    }
    .slick-dots{
        font-size: 0;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 46px;
        .slick-active{
            button{
                opacity: 1;
            }
        }
        li{
            border: none;
            & + li{
                margin-left: 15px;
            }
            
        }
        button{
            outline: none;
            width: 20px;
            height: 20px;
            background: #000;
            opacity: 0.6;
            border: none;
        }
    }
}
// end project-page
// end portfolio-page
.portfolio-page{
    &.top{
        background-color: #202020;
    }
    .top__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50% );
        img{
            width: 132px;
            height: 77px;
        }
    }
    .top__wrapper{
        min-height: 420px;
    }
    .header__inner{
        display: flex;
        justify-content: space-between;
    }
    .header__language{
        margin-left: 0;
    }
    .top__title{
        padding-top: 100px;
    }
    .portfolio__inner{
        margin-bottom: 50px;
    }
    .portfolio__btn{
        margin-top: 0;
        margin-bottom: 200px;
    }
}
// end portfolio-page


@import "media";